* text=auto

*.cs text diff=csharp
*.cshtml text diff=html
*.html text diff=html
*.asax text diff=html
*.js text
*.tt text

*.sql text

*.targets text
*.config text
*.Config text
*.pubxml text
*.edmx text
*.resx text

*.ncrunchproject text diff eol=lf
*.ncrunchsolution text diff eol=lf

*.sh text eol=lf

# Custom for Visual Studio
*.sln text eol=crlf 

# Graphics
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text

